#container{
    width: 1000px;
    background: pink;
}

#top{
    width: 1000px;
    height: 500px;
    background: purple ;
}

#menu{
    width: 1000px;
    height: 300px;
    background: blue ;
}


#middle{
    width: 1000px;
    height: auto;
    background: cyan;
    padding-top: 2px;
}

#bottom{
    width: 1000px;
    height: 200px;
    background: red;
}
#menuItens{
    background: gray;
    height: 150px;

}

#menuItens ul{
    background: yellow;
    
}

#menuItens ul li{
float: left;
width: 100px;
padding: 10px 10px 10px 10px;
}

.jobOpennings{
    border: dotted orange 1px;
    padding-left: 10px;
}

.footerContent{
    text-align: center;
    border: dotted orange 1px;
    padding-left: 10px;
}

*{
    border: solid gray 0px;

}

